name: Check Markdown links

on:
  push:
    branches:
      - master
  schedule:
    - cron: "22 23 2,16 * *"

jobs:
  markdown-link-check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
